.header-section{
    display: flex;
    align-items: center;
    justify-content: start;
    background: #ff9900; 
    height: 12vh;
    
    
}
.kepper-header{ 
   font-size: 2rem; 
   font-weight: bold;
   color: white;  
   margin: 0;

}